* {
    box-sizing: border-box;
  }
  
  
  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
  
    background: #FCDFCD;
    user-select: none;
    -webkit-app-region: drag;
  }
  
  .app {
    padding: 16px;
  }
  
  button,
  input,
  textarea,
  select {
    -webkit-app-region: no-drag;
    cursor: pointer;
  }

 
  #close-btn {

    position: absolute;
    top: 17px;
    right: 20px;
    background-color: #F084B5; /* Fundo leve para teste */
    border: none;
    color: #FCDFCD;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 9999; 
    -webkit-app-region: no-drag;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }

    .title{
        top: 10px;
        width: 120px;
        height: 30px;
        margin: 0 auto;
       

        justify-content: center;
        align-items: center;

        font-family: "Bebas Neue", sans-serif;
        font-weight: 20;
        font-style: normal;

        color: #D30F1B;
        display: flex;
        background-color: #F4D7E5;
        border-radius: 10rem;

    }
    