* {
    box-sizing: border-box;
  }
  
  
  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    background: #FCDFCD;
    user-select: none;
    -webkit-app-region: drag;
  }
  
  .app {
    padding: 16px;
  }
  
  button,
  input,
  textarea,
  select {
    -webkit-app-region: no-drag;
    cursor: pointer;
  }

 
  #close-btn {

    position: absolute;
    top: 17px;
    right: 20px;
    background-color: #F084B5; 
    border: none;
    color: #FCDFCD;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 9999; 
    -webkit-app-region: no-drag;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }

    .title{
        top: 10px;
        width: 120px;
        height: 30px;
        margin: 0 auto;
       

        justify-content: center;
        align-items: center;

        font-family: "Bebas Neue", sans-serif;
        font-weight: 20;
        font-style: normal;

        color: #D30F1B;
        display: flex;
        background-color: #F4D7E5;
        border-radius: 10rem;

    }

    #calendar {
        display: flex;
        position: absolute;
        top: 50px;
        left: 20px;
    }
    
    #day {
        color: #D30F1B;
        font-family: "Bebas Neue", sans-serif;
        
        width: 50px;  
        height: 50px;
        background-color: #F4D7E5;
        border-radius: 10px; 
        
       
        display: flex; 
        flex-direction: column; 
        justify-content: space-between; 
        align-items: center;
        padding: 4px 0; 
    }
    
    #hoje {
        color: #F084B5;
        font-size: 10px; 
        line-height: 1;
    }
    
    #day-number {
        font-size: 20px; 
        line-height: 1;
    }
    
    #month {
        color: #00AE83;
        font-size: 10px; 
        line-height: 1;
    }
    